.column-layout {
  display: flex;
  flex-direction: column;
}
.customer-management-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 16px;
  height: 200px;
  min-width: 50px;
  min-height: 50px;
  max-height: 200px;
}
.row-layout {
  display: flex;
}
.group_1 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 1rem;
  overflow: hidden;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.navbar {
  background-color: hsla(var(--ig-primary-600));
  height: max-content;
  min-width: min-content;
}
.h6 {
  margin: 0;
  flex-shrink: 0;
}
.h5 {
  margin: 10px;
  height: max-content;
  min-width: min-content;
}
.button {
  margin: 5px;
  height: max-content;
  flex-shrink: 0;
}
.single-select-combo {
  margin: 10px 0 0;
  height: max-content;
  min-width: min-content;
}
.grid {
  min-width: 600px;
  min-height: 300px;
  max-height: 800px;
}
